@font-face {
  font-family: 'HelveticaNeueCyr-Roman';
  src: url("../fonts/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Roman.otf") format("opentype"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'HelveticaNeueCyr-Light';
  src: url("../fonts/HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Light.otf") format("opentype"), url("../fonts/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Light.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Light.svg#HelveticaNeueCyr-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

.header {
  background: #ffffff; }
  .header__inner {
    max-width: 1600px;
    min-width: 1200px;
    margin: 0 auto;
    padding: 20px 0; }
    .header__inner:after {
      clear: both;
      display: table;
      content: ""; }
  .header__logo {
    width: 275px;
    height: 60px;
    background: url("../img/logo_main.png");
    margin-left: 50px;
    float: left; }

.navigation {
  float: right;
  margin-top: 3px;
  margin-right: 20px; }
  .navigation__list {
    list-style: none; }
  .navigation__item {
    display: inline; }
  .navigation__link {
    font-family: 'HelveticaNeueCyr-Light', serif;
    font-size: 18px;
    color: #5B5F5E;
    text-decoration: none;
    padding: 0 20px;
    transition: .5s; }
    .navigation__link:hover, .authorization__login:hover {
      color: #F58220; }

.authorization {
  float: right;
  margin-top: 21px;
  margin-right: 43px; }
  .authorization__partnership {
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    background: linear-gradient(to bottom, #FAA61A 0%, #F47620 100%); }
    .authorization__partnership:hover {
      background: linear-gradient(to top, #FAA61A 0%, #F47620 100%); }
  .authorization__login {
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 5px 10px 5px;
    margin-left: 22px;
    background: none;
    color: #5B5F5E; }

.authorization__login .fa-angle-right {
  margin-left: 5px; }

.intro {
  background: url("../img/bg1.jpg") repeat;
  border-bottom: 15px solid #231F20; }
  .intro__inner {
    margin: 0 auto;
    width: 1200px;
    padding-top: 23px; }
  .intro__title {
    font-family: 'PT Serif Caption', serif;
    font-size: 36px;
    text-transform: uppercase;
    color: #F58220;
    margin: 0;
    text-align: center;
    letter-spacing: 0.4px;
    font-weight: 100;
    margin-bottom: 8px;
    transition: .4s; }
    .intro__title-span {
      color: #ffffff; }
  .intro__clients {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .intro__img-wrap {
    position: relative; }
  .intro__img {
    width: 399px;
    height: 208px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-filter: grayscale(1) brightness(50%);
    filter: grayscale(1) brightness(50%); }
    .intro__img:hover {
      -webkit-filter: none;
      filter: none; }
  .intro__text {
    font-family: 'PT Serif Caption', serif;
    font-size: 21px;
    color: #ffffff;
    text-align: right;
    margin-bottom: 14px;
    margin-right: 10px;
    position: absolute;
    bottom: 0;
    right: 0; }

.offers {
  background: #828281; }
  .offers__inner {
    margin: 0 auto;
    width: 1200px;
    padding-bottom: 15px; }
  .offers__content-wrap {
    width: 1050px;
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 20px; }
  .offers__for-clients, .offers__for-suppliers {
    width: 500px;
    height: 370px;
    display: inline-block;
    font-size: 0;
    position: relative;
    background: url("../img/clients.jpg"); }
    .offers__for-clients-inner, .offers__for-suppliers-inner {
      width: 470px;
      height: 218px;
      position: absolute;
      top: 50%;
      margin-top: -109px;
      left: -70px;
      background: rgba(255, 255, 255, 0.8);
      padding: 26px 70px;
      text-align: center;
      box-sizing: border-box; }
      .offers__for-clients-inner:before, .offers__for-suppliers-inner:before {
        content: '';
        display: block;
        border: 35px solid transparent;
        border-right-color: rgba(255, 255, 255, 0.8);
        position: absolute;
        left: -70px;
        top: 73px; }
  .offers__title {
    margin: 0;
    color: #5B5F5E;
    font-size: 25px;
    font-family: 'PT Serif Caption', serif;
    text-transform: uppercase;
    font-weight: 600; }
    .offers__title-span {
      color: #231F20; }
  .offers__text {
    color: #231F20;
    font-family: 'HelveticaNeueCyr-Light', serif;
    text-align: center;
    margin-top: 12px;
    font-size: 18px;
    font-weight: 600; }
  .offers__link {
    text-decoration: none;
    color: #ffffff;
    width: 245px;
    height: 40px;
    display: block;
    margin: 30px auto;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 3px;
    font-size: 18px;
    line-height: 40px;
    background: linear-gradient(to bottom, #FAA61A 0%, #F47620 100%); }
    .offers__link:hover {
      background: linear-gradient(to top, #FAA61A 0%, #F47620 100%); }
  .offers__for-suppliers {
    background: url("../img/suppliers.jpg");
    margin-left: 26px; }
  .offers__for-suppliers-inner {
    left: 113px; }
    .offers__for-suppliers-inner:before {
      content: '';
      display: block;
      border: 35px solid transparent;
      border-left-color: rgba(255, 255, 255, 0.8);
      position: absolute;
      left: 470px; }

.offers__link .fa-long-arrow-left {
  position: relative;
  right: 8px; }

.offers__link .fa-long-arrow-right {
  position: relative;
  left: 8px; }

.why-us__inner {
  width: 1200px;
  margin: 0 auto;
  padding-top: 58px;
  padding-bottom: 75px; }

.why-us__title {
  color: #231F20;
  font-size: 30px;
  line-height: 37px;
  font-family: 'PT Serif Caption', serif;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
  text-align: center; }
  .why-us__title-span {
    color: #5B5F5E; }

.why-us__text {
  font-family: 'HelveticaNeueCyr-Light', serif;
  color: #231F20;
  text-align: center;
  margin-top: 27px;
  line-height: 25px;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 32px; }
  .why-us__text-span {
    color: #5B5F5E; }

.why-us__articles-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.why-us__article {
  width: 370px;
  height: 200px;
  float: left;
  margin-bottom: 75px;
  box-sizing: border-box; }
  .why-us__article:first-of-type, .why-us__article:nth-of-type(4) {
    padding-left: 15px; }
  .why-us__article:nth-of-type(2), .why-us__article:nth-of-type(5) {
    padding: 8px 40px 0 8px; }
  .why-us__article:nth-of-type(3), .why-us__article:nth-of-type(6) {
    padding: 7px 20px 0 4px; }
  .why-us__article-header {
    width: 270px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer; }
  .why-us__article-logo {
    width: 100px;
    height: 104px; }
    .why-us__article-logo_shop {
      background: url("../img/shop.png"); }
    .why-us__article-logo_approach {
      background: url("../img/approach.png"); }
    .why-us__article-logo_quality {
      background: url("../img/quality.png"); }
    .why-us__article-logo_compliance {
      background: url("../img/compliance.png"); }
    .why-us__article-logo_diversity {
      background: url("../img/diversity.png"); }
    .why-us__article-logo_process {
      width: 108px;
      background: url("../img/process.png"); }
  .why-us__article-title {
    text-align: left;
    font-family: 'PT Serif Caption', serif;
    font-size: 21px;
    position: relative;
    left: 20px;
    top: -2px;
    border-left: 2px solid #828281;
    padding-left: 20px; }
  .why-us__article-text {
    font-family: 'HelveticaNeueCyr-Light', serif;
    line-height: 23px; }

.feedback {
  background: url("../img/bg2.jpg") repeat; }
  .feedback__inner {
    padding-bottom: 70px;
    width: 1200px;
    margin: 0 auto;
    padding-top: 52px; }
    .feedback__inner:after {
      display: table;
      clear: both;
      content: ""; }
  .feedback__title {
    margin: 0;
    text-align: center;
    font-family: 'PT Serif Caption', serif;
    color: #ADAEAE;
    font-size: 30px;
    text-transform: uppercase; }
  .feedback__intro-text {
    color: #ffffff;
    font-family: 'HelveticaNeueCyr-Light', serif;
    text-align: center;
    font-size: 18px;
    margin: 27px 0 45px 0; }
  .feedback__coordinates {
    width: 51%;
    float: left;
    padding-left: 16px;
    box-sizing: border-box; }
    .feedback__coordinates-title {
      margin: 0 0 5px 0;
      color: #ADAEAE;
      font-size: 16px;
      font-family: 'PT Serif Caption', serif; }
    .feedback__coordinates-text {
      font-family: 'HelveticaNeueCyr-Light', serif;
      color: #ffffff;
      font-size: 18px;
      margin: 0 0 3px 0; }
      .feedback__coordinates-text-span {
        font-family: 'PT Serif Caption', serif;
        color: #ADAEAE;
        font-size: 16px; }
      .feedback__coordinates-text_tel {
        margin-top: 30px; }
    .feedback__coordinates-email {
      color: #ADAEAE;
      font-family: 'PT Serif Caption', serif;
      font-size: 16px;
      margin-top: 26px; }
    .feedback__coordinates-link {
      color: #ffffff;
      letter-spacing: -0.7px; }
      .feedback__coordinates-link:hover {
        color: #F58220; }
  .feedback__form-wrap {
    float: left;
    width: 49%;
    padding: 3px 17px 0 102px;
    box-sizing: border-box; }
  .feedback__form :after {
    display: table;
    clear: both;
    content: ""; }
  .feedback__form-textarea {
    resize: none;
    width: 100%;
    height: 290px;
    padding-left: 15px;
    padding-top: 15px;
    box-sizing: border-box; }
  .feedback__form-email, .feedback__form-inputtext {
    width: 100%;
    height: 52px;
    margin-top: 10px;
    padding-left: 15px;
    box-sizing: border-box; }
  .feedback__form-inputtext {
    margin: 13px 0 35px 0; }
  .feedback__form-submit {
    font-family: 'HelveticaNeueCyr-Light', serif;
    color: #ffffff;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    padding: 15px 31px;
    font-size: 18px;
    background: transparent;
    border-radius: 3px;
    float: left; }
    .feedback__form-submit:focus {
      outline: none; }
  .feedback__form-text {
    font-family: 'HelveticaNeueCyr-Light', serif;
    color: #ADAEAE;
    padding-top: 80px;
    position: relative;
    top: 22px;
    font-size: 16px;
    left: 31px; }

#feedback__map {
  height: 175px;
  margin-top: 30px; }

.partnership {
  height: 410px;
  outline: 1px solid red;
  background: url("../img/hands.png") 0 -260px black; }
  .partnership__inner {
    height: inherit;
    width: 1200px;
    margin: 0 auto;
    padding-top: 107px; }
  .partnership__title {
    margin: 0;
    font-family: 'PT Serif Caption', serif;
    color: #ffffff;
    font-size: 26px;
    font-weight: 100;
    text-align: center;
    line-height: 41px; }
  .partnership__link {
    display: block;
    width: 230px;
    height: 60px;
    margin: 45px auto;
    cursor: pointer;
    color: #ffffff;
    font-family: 'HelveticaNeueCyr-Roman', serif;
    font-size: 18px;
    line-height: 60px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    background: linear-gradient(to bottom, #FAA61A 0%, #F47620 100%);
    text-align: center; }
    .partnership__link:hover {
      background: linear-gradient(to top, #FAA61A 0%, #F47620 100%); }
