@font-face {
  font-family: 'HelveticaNeueCyr-Roman';
  src: url('../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueCyr-Roman.otf')  format('opentype'),
  url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Roman.ttf')  format('truetype'), url('../fonts/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr-Light';
  src: url('../fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueCyr-Light.otf')  format('opentype'),
  url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Light.ttf')  format('truetype'), url('../fonts/HelveticaNeueCyr-Light.svg#HelveticaNeueCyr-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}



//vars
$color1: #5B5F5E;
$color2: #F58220;
$color3: #ffffff;
$offersBkg: #828281;
$almostBlack: #231F20;
$footerLight: #ADAEAE;
$footerBkg: #5B5F62;

//mixins
@mixin font1 {
  font-family: 'HelveticaNeueCyr-Roman', serif;
}
@mixin font2 {
  font-family: 'HelveticaNeueCyr-Light', serif;
}
@mixin font3 {
  font-family: 'PT Serif Caption', serif;
}
//devices fix
html {
  overflow-x: hidden;
}
//devices fix
body {
  overflow-x: hidden;
  min-width: 1200px;
}
//start header
.header {
  background: $color3;
  min-width: 1200px;
  &__inner {
    max-width: 1600px;
    min-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    &:after {
      clear: both;
      display: table;
      content:"";
    }
  }
  &__logo {
    width: 275px;
    height: 60px;
    background: url('../img/logo_main.png');
    margin-left: 50px;
    float: left;
  }
}

.navigation {
  float: right;
  margin-top: 3px;
  margin-right: 20px;
  &__list {
    list-style: none;
  }
  &__item {
    display: inline;
  }
  &__link {
    @include font2;
    font-size: 18px;
    color: $color1;
    text-decoration: none;
    padding: 0 20px;
    transition: .5s;
    &:hover {
      color: $color2;
    }
  }
}
.authorization {
  float: right;
  margin-top: 21px;
  margin-right: 43px;
  &__partnership {
    color: $color3;
    padding: 10px 15px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    background: linear-gradient(to bottom, #FAA61A 0%, #F47620 100%);
    &:hover {
      background: linear-gradient(to top, #FAA61A 0%, #F47620 100%);
    }
  }
  &__login {
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 5px 10px 5px;
    margin-left: 22px;
    background: none;
    color: $color1;
    &:hover {
      @extend .navigation__link:hover;
    }
  }
}
.authorization__login .fa-angle-right {
  margin-left: 5px;
}
//finish header, start intro
.intro {
  background: url("../img/bg1.jpg") repeat;
  border-bottom: 15px solid #231F20;
  min-width: 1200px;

  &__inner {
    margin: 0 auto;
    width: 1200px;
    padding-top: 23px;

  }
  &__title {
    @include font3;
    font-size: 36px;
    text-transform: uppercase;
    color: $color2;
    margin: 0;
    text-align: center;
    letter-spacing: 0.4px;
    font-weight: 100;
    margin-bottom: 8px;
    transition: .4s;
    &-span {
      color: $color3;
    }
  }
  &__clients {
    display: flex;
    flex-wrap: wrap;
  }
  &__img-wrap {
    position: relative;
  }
  &__img {
    transition: 1s;
    width: 399px;
    height: 208px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    filter: grayscale(1) brightness(50%);
    &:hover {
      filter: none;
    }
  }
  &__text {
    @include font3;
    font-size: 21px;
    color: $color3;
    text-align: right;
    margin-bottom: 14px;
    margin-right: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
//finish intro, start offers
.offers{
  min-width: 1200px;
  background:$offersBkg;
  &__inner {
    margin: 0 auto;
    width: 1200px;
    padding-bottom: 15px;
  }
  &__content-wrap {
    width: 1050px;
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 20px;
  }
  &__for-clients {
    width: 500px;
    height: 370px;
    display: inline-block;
    font-size: 0;
    position: relative;
    background: url("../img/clients.jpg");
    &-inner {
      width: 470px;
      height: 218px;
      position: absolute;
      top: 50%;
      margin-top: -109px;
      left: -60px;
      background: rgba(255, 255, 255, 0.8);
      padding: 26px 70px;
      text-align: center;
      box-sizing: border-box;
      &:before {
        content: '';
        display: block;
        border: 35px solid transparent;
        border-right: 25px solid rgba(255, 255, 255, 0.8);
        position: absolute;
        left: -60px;
        top: 73px;
      }
    }
  }
  &__title {
    margin: 0;
    color: $color1;
    font-size: 25px;
    @include font3;
    text-transform: uppercase;
    font-weight: 600;
    &-span {
      color: $almostBlack;
    }
  }
  &__text {
    color: $almostBlack;
    @include font2;
    text-align: center;
    margin-top: 12px;
    font-size: 18px;
    font-weight: 600
  }
  &__link {
    text-decoration: none;
    color: #ffffff;
    width: 245px;
    height: 40px;
    display: block;
    margin: 30px auto;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 3px;
    font-size: 18px;
    line-height: 40px;
    background: linear-gradient(to bottom, #FAA61A 0%, #F47620 100%);
    &:hover {
      background: linear-gradient(to top, #FAA61A 0%, #F47620 100%);
    }
  }
  &__for-suppliers {
    @extend .offers__for-clients;
    background: url("../img/suppliers.jpg");
    margin-left: 26px;
  }
  &__for-suppliers-inner {
    @extend .offers__for-clients-inner;
    &:before {
      content: '';
      display: block;
      border: 35px solid transparent;
      border-left: 25px solid rgba(255, 255, 255, 0.8);
      position: absolute;
      left: 470px;
    }
    left: 87px;
  }
}
.offers__link .fa-long-arrow-left {
  position: relative;
  right: 8px;
}
.offers__link .fa-long-arrow-right {
  position: relative;
  left: 8px;
}
//finish offer, start why-us
.why-us {
  min-width: 1200px;
  &__inner {
    width: 1200px;
    margin: 0 auto;
    padding-top: 58px;
    padding-bottom: 75px;

  }
  &__title {
    color: $almostBlack;
    font-size: 30px;
    line-height: 37px;
    @include font3;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    text-align: center;
    &-span {
      color: $color1;
    }
  }
  &__text {
    @include font2;
    color: $almostBlack;
    text-align: center;
    margin-top: 27px;
    line-height: 25px;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 32px;
    &-span {
      color: $color1;
    }
  }
  &__articles-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__article {
    width: 370px;
    height: 200px;
    float: left;
    margin-bottom: 75px;
    box-sizing: border-box;
    &:first-of-type, &:nth-of-type(4) {
      padding-left: 15px;
    }
    &:nth-of-type(2), &:nth-of-type(5) {
       padding: 8px 40px 0 8px;
     }
    &:nth-of-type(3), &:nth-of-type(6) {
      padding: 7px 20px 0 4px;
    }

    &-header {
      width: 270px;//for hover
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      cursor: pointer;

    }
    &-logo {
      width: 100px;
      height: 104px;
      background: url("../img/sprite.png");
      &_shop {background-position: -20px -729px}
      &_approach {background-position: -20px -234px}
      &_quality {background-position: -20px -605px;}
      &_compliance {background-position: -20px -357px}
      &_diversity {background-position: -20px -481px}
      &_process {
        width: 108px;
        background-position: -20px -111px;
      }
    }
    &-title {
      text-align: left;
      @include font3;
      font-size: 21px;
      position: relative;
      left: 20px;
      top: -2px;
      border-left: 2px solid $offersBkg;
      padding-left: 20px;
    }
    &-text {
      @include font2;
    line-height: 23px;
    }
  }
}
//finish why us start feedback
.feedback {
  min-width: 1200px;
  background: url("../img/bg2.jpg") repeat;
  &__inner {
    height: 717px;
    width: 1200px;
    margin: 0 auto;
    padding-top: 52px;
    &:after {
      display: table;
      clear: both;
      content: "";
    }
  }
  &__title {
    margin: 0;
    text-align: center;
    @include font3;
    color: $footerLight;
    font-size: 30px;
    text-transform: uppercase;
  }
  &__intro-text {
    color: $color3;
    @include font2;
    text-align: center;
    font-size: 18px;
    margin: 27px 0 45px 0;
  }
  &__coordinates {
    width: 51%;
    float: left;
    padding-left: 16px;
    box-sizing: border-box;
    position: relative;
    &-title {
      margin: 0 0 5px 0;
      color: $footerLight;
      font-size: 16px;
      @include font3;
    }
    &-text {
      @include font2;
      color: $color3;
      font-size: 18px;
      margin: 0 0 3px 0;
      &-span {
        @include font3;
        color: $footerLight;
        font-size: 16px;
      }
      &_tel {
        margin-top: 30px;
      }
    }
    &-email {
      color: $footerLight;
      @include font3;
      font-size: 16px;
      margin-top: 26px;
    }
    &-link {
      color: $color3;
      letter-spacing: -0.7px;
      &:hover {
        color: $color2;
      }
    }

  }
  &__form-wrap {
    float: left;
    width: 49%;
    padding: 3px 17px 0 102px;
    box-sizing: border-box;
  }
  &__form {
    :after {
      display: table;
      clear: both;
      content: "";
    }
    &-textarea {
      resize: none;
      width: 100%;
      height: 290px;
      padding-left: 15px;
      padding-top: 15px;
      box-sizing: border-box;
    }
    &-email {
      width: 100%;
      height: 52px;
      margin-top: 10px;
      padding-left: 15px;
      box-sizing: border-box;
    }
    &-inputtext {
      @extend .feedback__form-email;
      margin: 13px 0 35px 0;
    }
    &-submit {
      @include font2;
      color: $color3;
      text-transform: uppercase;
      border: 1px solid $color3;
      padding: 15px 31px;
      font-size: 18px;
      background: transparent;
      border-radius: 3px;
      float: left;
      &:focus {
        outline: none;
      }
      &:hover {
        background: $color3;
        color: $color1;
      }
    }
    &-text {
      @include font2;
      color: $footerLight;
      padding-top: 80px;
      position: relative;
      top: 22px;
      font-size: 16px;
      left: 31px;
    }
  }

}
.map {
  &-wrap {
    margin-top: 30px;
    position: relative;
  }
  &-text {
    line-height: 26px;
    @include font2;
    color: $color3;
    margin: 0;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 100;
    width: 100%;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
  }
}
#map {
  height: 175px;
}
.partnership {
  min-width: 1200px;
  height: 410px;
  background: url("../img/hands.png") center black;
  &__inner {
    height: inherit;
    min-width: 1200px;
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 107px;
  }
  &__title {
    margin: 0;
    @include font3;
    color: $color3;
    font-size: 26px;
    font-weight: 100;
    text-align: center;
    line-height: 41px;
  }
  &__link{
    display: block;
    width: 230px;
    height: 60px;
    margin: 45px auto;
    cursor: pointer;
    color: $color3;
    @include font1;
    font-size: 18px;
    line-height: 60px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    background: linear-gradient(to bottom, #FAA61A 0%, #F47620 100%);
    text-align: center;
    position: relative;
    z-index: 100;
    &:hover {
      background: linear-gradient(to top, #FAA61A 0%, #F47620 100%);
    }
  }
}
//finish feedback, start footer
.footer {
  background: $footerBkg;
  position: relative;
  &:before {
    content: "";
    display: block;
    width: 502px;
    height: 356px;
    position: absolute;
    left: 50%;
    top: -140px;
    margin-left: -256px;
    background: url("../img/globe.png");
  }
  &__inner {
    padding-bottom: 40px;
    min-width: 1200px;
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 50px;
    padding-top: 65px;
    padding-right: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }
  &__logo-wrap {
  }
  &__logo {
    background: url("../img/logo_footer.png");
    height: 66px;
    width: 319px;
  }
  &__navigation {
    margin-top: 21px;
    position: relative;
    z-index: 100;
    margin-left: -80px;
    &-item {
      display: inline;
    }
    &-link {
      @include font2;
      color: $footerLight;
      text-decoration: none;
      padding: 0 17px;

      transition: .5s;
      &:hover {
        color: $color3;
      }
    }
  }
  &__partnership {
    font-size: 18px;
    @include font2;
    color: $color3;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 12px;
    border-radius: 3px;
    transition: .5s;
    border: 1px solid $color3;
    &:hover {
      background: $color3;
      color: $footerBkg;
    }
  }
  &__list {
    list-style: none;
    display: inline-block;
  }
}
.copyrights {
  color: $footerLight;
  @include font2;
  font-size: 14px;
  padding-top: 3px;
  padding-left: 2px
}
.contacts {
  &:after {
    display: table;
    clear: both;
    content: "";
  }
  width: 300px;
  height: 110px;//mbd
  &__email {
    @include font2;
    color: $footerLight;
    margin: 0 0 13px 0;
    border-bottom: 1px solid $footerLight;
    padding-bottom: 10px;
    &-link {
      color: $color3;
      letter-spacing: inherit;
      &:hover {
        color: $color2;
      }
    }
  }
  &__text {
    text-transform: uppercase;
    color: $footerLight;
    font-size: 18px;
    @include font2;
    float: left;
    margin: 0;
  }
  &__socials {
    float: right;
    padding-top: 3px;
    &-btn {
      display: inline-block;
      width: 35px;
      height: 35px;
      margin-right: 15px;
      cursor: pointer;
      background: url("../img/sprite.png");
      &:last-of-type {
        margin-right: 0;
      }
      &_fb{
        background-position: -20px -57px;
        &:hover {
          background-position: -22px -1px;
        }
      }
      &_twit {
        background-position: 115px -57px;
        &:hover {
          background-position: 113px -1px;
        }
      }
      &_inst {
        background-position: 58px -57px;
        &:hover {
          background-position: 56px -1px;
        }
      }
    }
  }
}