@font-face {
  font-family: 'HelveticaNeueCyr-Roman';
  src: url('../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueCyr-Roman.otf')  format('opentype'),
  url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Roman.ttf')  format('truetype'), url('../fonts/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr-Light';
  src: url('../fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueCyr-Light.otf')  format('opentype'),
  url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Light.ttf')  format('truetype'), url('../fonts/HelveticaNeueCyr-Light.svg#HelveticaNeueCyr-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}



//vars
$color1: #5B5F5E;
$color2: #F58220;
$color3: #ffffff;
$offersBkg: #828281;
$almostBlack: #231F20;
$footerLight: #ADAEAE;
//mixins
@mixin font1 {
  font-family: 'HelveticaNeueCyr-Roman', serif;
}
@mixin font2 {
  font-family: 'HelveticaNeueCyr-Light', serif;
}
@mixin font3 {
  font-family: 'PT Serif Caption', serif;
}


.header {
  background: $color3;
  &__inner {
    max-width: 1600px;
    min-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    &:after {
      clear: both;
      display: table;
      content:"";
    }
  }
  &__logo {
    width: 275px;
    height: 60px;
    background: url('../img/logo_main.png');
    margin-left: 50px;
    float: left;
  }
}
.navigation {
  float: right;
  margin-top: 3px;
  margin-right: 20px;
  &__list {
    list-style: none;
  }
  &__item {
    display: inline;
  }
  &__link {
    @include font2;
    font-size: 18px;
    color: $color1;
    text-decoration: none;
    padding: 0 20px;
    transition: .5s;
    &:hover {
      color: $color2;
    }
  }
}
.authorization {
  float: right;
  margin-top: 21px;
  margin-right: 43px;
  &__partnership {
    color: $color3;
    padding: 10px 15px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    background: linear-gradient(to bottom, #FAA61A 0%, #F47620 100%);
    &:hover {
      background: linear-gradient(to top, #FAA61A 0%, #F47620 100%);
    }
  }
  &__login {
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 5px 10px 5px;
    margin-left: 22px;
    background: none;
    color: $color1;
    &:hover {
      @extend .navigation__link:hover;
    }
  }
}
.authorization__login .fa-angle-right {
  margin-left: 5px;
}
.intro {
  background: url("../img/bg1.jpg") repeat;
  border-bottom: 15px solid #231F20;
  &__inner {
    margin: 0 auto;
    width: 1200px;
    padding-top: 23px;

  }
  &__title {
    @include font3;
    font-size: 36px;
    text-transform: uppercase;
    color: $color2;
    margin: 0;
    text-align: center;
    letter-spacing: 0.4px;
    font-weight: 100;
    margin-bottom: 8px;
    transition: .4s;
    &-span {
      color: $color3;
    }
  }
  &__clients {
    display: flex;
    flex-wrap: wrap;
  }
  &__img-wrap {
    position: relative;
  }
  &__img {
    width: 399px;
    height: 208px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    filter: grayscale(1) brightness(50%);
    &:hover {
      filter: none;
    }
  }
  &__text {
    @include font3;
    font-size: 21px;
    color: $color3;
    text-align: right;
    margin-bottom: 14px;
    margin-right: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
.offers{
  background:$offersBkg;
  &__inner {
    margin: 0 auto;
    width: 1200px;
    padding-bottom: 15px;
  }
  &__content-wrap {
    width: 1050px;
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 20px;
  }
  &__for-clients {
    width: 500px;
    height: 370px;
    display: inline-block;
    font-size: 0;
    position: relative;
    background: url("../img/clients.jpg");
    &-inner {
      width: 470px;
      height: 218px;
      position: absolute;
      top: 50%;
      margin-top: -109px;
      left: -70px;
      background: rgba(255, 255, 255, 0.8);
      padding: 26px 70px;
      text-align: center;
      box-sizing: border-box;
      &:before {
        content: '';
        display: block;
        border: 35px solid transparent;
        border-right-color: rgba(255, 255, 255, 0.8);
        position: absolute;
        left: -70px;
        top: 73px;
      }
    }
  }
  &__title {
    margin: 0;
    color: $color1;
    font-size: 25px;
    @include font3;
    text-transform: uppercase;
    font-weight: 600;
    &-span {
      color: $almostBlack;
    }
  }
  &__text {
    color: $almostBlack;
    @include font2;
    text-align: center;
    margin-top: 12px;
    font-size: 18px;
    font-weight: 600
  }
  &__link {
    text-decoration: none;
    color: #ffffff;
    width: 245px;
    height: 40px;
    display: block;
    margin: 30px auto;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 3px;
    font-size: 18px;
    line-height: 40px;
    background: linear-gradient(to bottom, #FAA61A 0%, #F47620 100%);
    &:hover {
      background: linear-gradient(to top, #FAA61A 0%, #F47620 100%);
    }
  }
  &__for-suppliers {
    @extend .offers__for-clients;
    background: url("../img/suppliers.jpg");
    margin-left: 26px;
  }
  &__for-suppliers-inner {
    @extend .offers__for-clients-inner;
    &:before {
      content: '';
      display: block;
      border: 35px solid transparent;
      border-left-color: rgba(255, 255, 255, 0.8);
      position: absolute;
      left: 470px;

    }
    left: 113px;
  }
}
.offers__link .fa-long-arrow-left {
  position: relative;
  right: 8px;
}
.offers__link .fa-long-arrow-right {
  position: relative;
  left: 8px;
}
.why-us {
  &__inner {
    width: 1200px;
    margin: 0 auto;
    padding-top: 58px;
    padding-bottom: 75px;

  }
  &__title {
    color: $almostBlack;
    font-size: 30px;
    line-height: 37px;
    @include font3;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    text-align: center;
    &-span {
      color: $color1;
    }
  }
  &__text {
    @include font2;
    color: $almostBlack;
    text-align: center;
    margin-top: 27px;
    line-height: 25px;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 32px;
    &-span {
      color: $color1;
    }
  }
  &__articles-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__article {
    width: 370px;
    height: 200px;
    float: left;
    margin-bottom: 75px;
    box-sizing: border-box;
    &:first-of-type, &:nth-of-type(4) {
      padding-left: 15px;
    }
    &:nth-of-type(2), &:nth-of-type(5) {
       padding: 8px 40px 0 8px;
     }
    &:nth-of-type(3), &:nth-of-type(6) {
      padding: 7px 20px 0 4px;
    }


    &-header {
      width: 270px;//for hover
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      cursor: pointer;

    }
    &-logo {
      width: 100px;
      height: 104px;
      &_shop {background: url("../img/shop.png");}
      &_approach {background: url("../img/approach.png")}
      &_quality {background: url("../img/quality.png")}
      &_compliance {background: url("../img/compliance.png")}
      &_diversity {background: url("../img/diversity.png")}
      &_process {
        width: 108px;
        background: url("../img/process.png")
      }
    }
    &-title {
      text-align: left;
      @include font3;
      font-size: 21px;
      position: relative;
      left: 20px;
      top: -2px;
      border-left: 2px solid $offersBkg;
      padding-left: 20px;
    }
    &-text {
      @include font2;
    line-height: 23px;
    }
  }
}
.feedback {
  background: url("../img/bg2.jpg") repeat;
  &__inner {
    padding-bottom: 70px;
    width: 1200px;
    margin: 0 auto;
    padding-top: 52px;
    &:after {
      display: table;
      clear: both;
      content: "";
    }
  }
  &__title {
    margin: 0;
    text-align: center;
    @include font3;
    color: $footerLight;
    font-size: 30px;
    text-transform: uppercase;
  }
  &__intro-text {
    color: $color3;
    @include font2;
    text-align: center;
    font-size: 18px;
    margin: 27px 0 45px 0;
  }
  &__coordinates {
    width: 51%;
    float: left;
    padding-left: 16px;
    box-sizing: border-box;

    &-title {
      margin: 0 0 5px 0;
      color: $footerLight;
      font-size: 16px;
      @include font3;
    }
    &-text {
      @include font2;
      color: $color3;
      font-size: 18px;
      margin: 0 0 3px 0;
      &-span {
        @include font3;
        color: $footerLight;
        font-size: 16px;
      }
      &_tel {
        margin-top: 30px;
      }
    }
    &-email {
      color: $footerLight;
      @include font3;
      font-size: 16px;
      margin-top: 26px;
    }
    &-link {
      color: $color3;
      letter-spacing: -0.7px;
      &:hover {
        color: $color2;
      }
    }
  }
  &__form-wrap {
    float: left;
    width: 49%;
    padding: 3px 17px 0 102px;
    box-sizing: border-box;
  }
  &__form {
    :after {
      display: table;
      clear: both;
      content: "";
    }
    &-textarea {
      resize: none;
      width: 100%;
      height: 290px;
      padding-left: 15px;
      padding-top: 15px;
      box-sizing: border-box;
    }
    &-email {
      width: 100%;
      height: 52px;
      margin-top: 10px;
      padding-left: 15px;
      box-sizing: border-box;
    }
    &-inputtext {
      @extend .feedback__form-email;
      margin: 13px 0 35px 0;
    }
    &-submit {
      @include font2;
      color: $color3;
      text-transform: uppercase;
      border: 1px solid $color3;
      padding: 15px 31px;
      font-size: 18px;
      background: transparent;
      border-radius: 3px;
      float: left;
      &:focus {
        outline: none;
      }
    }
    &-text {
      @include font2;
      color: $footerLight;
      padding-top: 80px;
      position: relative;
      top: 22px;
      font-size: 16px;
      left: 31px;
    }
  }
}
#feedback__map {
  height: 175px;
  margin-top: 30px;
}
.partnership {
  height: 410px;
  outline: 1px solid red;
  background: url("../img/hands.png") 0 -260px black;
  &__inner {
    height: inherit;
    width: 1200px;
    margin: 0 auto;
    padding-top: 107px;
  }
  &__title {
    margin: 0;
    @include font3;
    color: $color3;
    font-size: 26px;
    font-weight: 100;
    text-align: center;
    line-height: 41px;
  }
  &__link{
    display: block;
    width: 230px;
    height: 60px;
    margin: 45px auto;
    cursor: pointer;
    color: $color3;
    @include font1;
    font-size: 18px;
    line-height: 60px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    background: linear-gradient(to bottom, #FAA61A 0%, #F47620 100%);
    text-align: center;

    &:hover {
      background: linear-gradient(to top, #FAA61A 0%, #F47620 100%);
    }
  }
}

